<!DOCTYPE html>
<html>
<style>
.row{
	margin: 0px auto;
	width: 960px
}
p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
a{
	text-decoration: none;
	color: black
}
</style>
	<div class="container">
		<div class="row text-left">
			총 <span style="color:green;font-size:20px;font-weight: bold;">[[${#numbers.formatInteger(count,3,'COMMA')}]]</span> 개의 맛있는 레시피가 있습니다.
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-3" th:each="vo:${list}">
				<a href="#">
					<div class="thumbnail">
						<img th:src="${vo.poster}" th:title="${vo.title}" style="width: 250px;height: 150px;">
						<p>[[${vo.chef}]]</p>
					</div>
				</a>
			</div>
		</div>
		<div class="row text-center" style="margin-top: 20px">
			<ul class="pagination">
				<li th:if="${startPage>1}"><a th:href="@{/main/main(page=${startPage-1})}">&laquo;</a></li>
				<li th:each="i:${#numbers.sequence(startPage,endPage)}" th:class="${curpage==i?'active':''}"><a th:href="@{/main/main(page=${i})}">[[${i}]]</a></li>
				<li th:if="${endPage<totalpage}"><a th:href="@{/main/main(page=${endPage+1})}">&raquo;</a></li>
			</ul>
		</div>
	</div>
</html>